@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

html {
  overflow-y: scroll;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 320px;
  color: #666;
}

.tags {
  line-height: 1.6em;
}

.wrapper {
  width: 100%;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1em;
  min-width: 320px;
  max-width: 70%;
}

.wide-content {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5em 1em;
  min-width: 320px;
  max-width: 70%;
}

h1, h2 {
}

.capitalized {
  text-transform: capitalize;
}

.error {
  background-color: #FF5050;
  color: #fff;
  border-radius: 4px;
  padding: .5em .6em;
}

.log {
  padding-top: .3em;
}

.log h3 {
  margin: 0;
  font-weight: 300;
}

.log h3 {
  margin-top: 0.6em;
}

.log:first-child h3 {
  margin-top: 0;
}

.log ul {
  margin: 0;
  padding: 0;
}

.log li {
  margin: .3em 0;
}

code {
  cursor: pointer;
  font-family: 'Source Sans Pro', monospace !important;
  border-radius: 3px;
  background-color: var(--maincolor);
  padding: 1px 5px;
}

.inverted code {
  background-color: #fff;
  color: #777;
}

.tag-suggestions code {
  line-height: 1.6em;
}

hr {
  border-width: 0;
  border-bottom: 1px solid #e5e5e5;
}

.fa-star {
  color: #ffbf00; /* gold */
  color: #e96900;
}

.fa-heart {
  color: #E53935;
}

.rating {
  white-space: nowrap;
}

* > .fa.fa-hover-show,

*:hover > .fa.fa-hover-hidden {
  display: none;
}

*:hover > .fa.fa-hover-show {
  display: inline-block;
}

.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: .7em;
  background: #E53935;
  color: white;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}

header {
  background-color: var(--maincolorheader);
  z-index: 99999;
  padding: 0.5em 0em;
  position: fixed;
  width: 100%;
  top: 0;
}

header input {
  border: none !important;
}

.faded {
  opacity: 0.7;
}

.main {
  margin-top: 3.35em;
  margin-bottom: 3.4em;
}

footer {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.add-entry {
  display: none;
  z-index: 99;
  cursor: pointer;
  position: fixed;
  color: var(--maincolor);
  font-size: 2em;
  bottom: 0;
  right: 0;
  padding: 0.4em;
}

@media only screen and (max-device-width: 375px) {
  .content {
    padding: 0;
  }

  .wide-content {
    padding: 0.5em 0.5em;
    width: 100%;
    max-width: 100%;
  }

  footer {
    position: relative !important;
    background-color: white;
  }

  .main {
    margin-bottom: 0;
    position: relative;
  }

  .add-entry {
    display: block;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
  }
}

@media only screen
    and (min-device-width: 768px)
    and (max-width: 960px) {
  .wide-content {
    padding: 0.5em 0.5em;
    width: 100%;
    max-width: 100%;
  }
}

a {
  color: #555;
  text-decoration: none;
  background-image: linear-gradient(#555, #555);
  background-size: 100% 1px;
  background-position: center bottom 10%;
  background-origin: padding-box;
  background-repeat: no-repeat;
  text-shadow: 3px 0 #fff,2px 0 #fff,1px 0 #fff,-1px 0 #fff,-2px 0 #fff,-3px 0 #fff;
}

a:hover {
}

.fa-li {
  color: #ddd;
  top: 0.2em;
  left: -1.6em;
  width: 1.8em;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.float-left {
  float: left;
}

.todo {
  cursor: pointer;
}

.todo-completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-button {
  color: #555;
  width: auto;
  cursor: pointer;
  top: 0;
  left: -1.4em;
  padding: .15em;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

.fa-right-angle,
.fa-circe, .fa-check-circle,
.fa-square, .fa-check-square {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

