@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html {
  overflow-y: scroll;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 320px;
  color: #34495e;
}

.tags {
  line-height: 1.6em;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

form fieldset {
  padding: 0 !important;
  margin: 0 !important;
}

.wrapper {
  width: 100%;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 1em;
  min-width: 320px;
  max-width: 70%;
}

.wide-content {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5em 1em;
  min-width: 320px;
  max-width: 70%;
}

h1, h2 {
  font-weight: 300;
}

.full-width {
  width:100%;
}

.capitalized {
  text-transform: capitalize;
}

.error {
  background-color: #FF5050;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  padding: .5em .6em;
}

.log {
  line-height: 1.6em;
  padding-top: .3em;
}

.log h3 {
  margin: 0;
}

.log ul {
  margin: 0;
  padding: 0;
}

.log li {
  line-height: 1.6em;
}

code {
  cursor: pointer;
  font-family: 'Source Sans Pro', monospace !important;
  /*font-size: 0.8em !important;*/
  border-radius: 3px;
  /*color: #e96900;*/ /* orange */
  /*background-color: #f8f8f8;*/
  /*color: #46b980;*/ /* blue */
  color: #f8f8f8;
  background-color: #46b980;
  /*background-color: #71c6a5;*/ /* green */
  /*padding: 3px 5px;*/
  padding: 1px 5px;
}

.filter-suggestions {
  padding: 0;
  padding-top: .5em;
}

.entry-suggestions {
  padding: 0;
  padding-bottom: .4em;
}

.inverted code {
  background-color: #fff;
  color: #46b980;
}

.tag-suggestions code {
  line-height: 1.6em;
}

hr {
  border-width: 0;
  border-bottom: 1px solid #e5e5e5;
}

input[type="text"] {
  width: 100%;
  box-shadow: none !important;
  -webkit-appearance: none;
}

input[type="search"] {
  width: 100%;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.fa-star {
  color: #ffbf00; /* gold */
  color: #e96900;
}

.fa-heart {
  color: #E53935;
}

.rating {
  white-space: nowrap;
}

* > .fa.fa-hover-show,

*:hover > .fa.fa-hover-hidden {
  display: none;
}

*:hover > .fa.fa-hover-show {
  display: inline-block;
}

.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: .7em;
  font-weight: bold;
  background: #E53935;
  color: white;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}

header {
  /*background-color: #46b980;*/
  /*background-color: rgba(34, 160, 219, 0.9);*/
  background-color: rgba(70, 185, 128, 0.9);
  z-index: 99999;
  padding: 0.5em 0em;
  position: fixed;
  width: 100%;
  top: 0;
}

header input {
  border: none !important;
}

input {
  margin: 0 !important;
}

.faded {
  opacity: 0.7;
}

input:focus {
  border-color: #46b980 !important;
}

.main {
  margin-top: 3.35em;
  margin-bottom: 3.4em;
}

footer {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.add-entry {
  display: none;
  z-index: 99;
  cursor: pointer;
  position: fixed;
  color: #46b980;
  font-size: 2em;
  bottom: 0;
  right: 0;
  padding: 0.4em;
  /*background-color: rgba(255, 255, 255, 0.9);*/
}

@media only screen and (max-device-width: 375px) {
  .content {
    padding: 0;
  }

  .wide-content {
    padding: 0.5em 0.5em;
    width: 100%;
    max-width: 100%;
  }

  footer {
    position: relative !important;
    background-color: white;
  }

  .main {
    margin-bottom: 0;
    position: relative;
  }

  .add-entry {
    display: block;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
  }
}

@media only screen
    and (min-device-width: 768px)
    and (max-width: 960px) {
  .wide-content {
    padding: 0.5em 0.5em;
    width: 100%;
    max-width: 100%;
  }
}

a {
  color: #46b980;
  font-weight: 600;
  text-decoration: none;
  background-image: linear-gradient(#46b980, #46b980);
  background-size: 100% 1px;
  background-position: center bottom 10%;
  background-origin: padding-box;
  background-repeat: no-repeat;
  text-shadow: 3px 0 #fff,2px 0 #fff,1px 0 #fff,-1px 0 #fff,-2px 0 #fff,-3px 0 #fff;
}

a:hover {
}

.fa-li {
  top: 0.3em;
  left: -1.6em;
  width: 1.8em;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.float-left {
  float: left;
}

.rich-input {
  position: relative;
}

.input-button-padding {
  padding-right: 2.1em !important;
}

.input-button {
  top: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  padding: 0.66em;
  color: #aaa;
}

.input-button-padding-left {
  padding-left: 2.1em !important;
}

.input-button-left {
  top: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  padding: 0.66em;
  color: #aaa;
}

.shadow-suggest {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: .5em .6em;
  padding-left: 2.1em;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 1;
  opacity: 0.5;
}

